html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  background-color: #000000;
}

/* p:not(:last-child) {
  margin-bottom: 0.875rem;
} */

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.nav-logo:hover {
  background: linear-gradient(135deg, #fec163 0%, #de4313 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
